html,
body {
  height: 100%;
}

.document {
  width: 100%;
  height: 100%;
  display: flex;
}
.document-upload {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  margin: auto;
  border: 10px dashed blue;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.document-upload h1 {
  margin: auto;
  text-align: center;
}

.document-upload-dragging {
  border-color: red;
}

.documents-render {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.document-render {
  padding: 20px;
  border: 1px dotted blue;
  margin-bottom: 20px;
}

.document-render img {
  max-height: 400px;
}

.code {
  line-height: 100%;
  background-color: #eee;
  padding: 0.2em;
  letter-spacing: -0.05em;
  word-break: normal;
  /border-radius: 5px;/
}
